<a href="https://colab.research.google.com/github/Datriks/Python_Repo/blob/master/Apply_Calculations_Across_Columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Apply Calculations Across Columns

In [0]:
import pandas as pd

In [2]:
df3 = pd.DataFrame({'weight1':[4,7,2],
                    'weight2':[6,3,9]})
df3

   weight1  weight2
0        4        6
1        7        3
2        2        9

In [3]:
df3['sum'] = df3['weight1'] + df3['weight2']
df3

   weight1  weight2  sum
0        4        6   10
1        7        3   10
2        2        9   11

In [4]:
df3['pounds'] = df3['sum']*2.2
df3

   weight1  weight2  sum  pounds
0        4        6   10    22.0
1        7        3   10    22.0
2        2        9   11    24.2